.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header {
  width: 100%;
  height: 100%;
  background-color: var(--gray-200);
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.7);
  transition: width 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.h-reduced {
  width: 40%;
}

.about {
  width: 0%;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.btn-download-cv {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  & img {
    width: 3rem;
    height: 3rem;
  }
}

.nav-wrapper {
  margin-top: 3rem;
  background-color: var(--gray-200);
  width: fit-content;
  border-radius: 10px;
  font: var(--text-sm);

  & nav ul li {
    width: fit-content;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    color: var(--gray-600);
    font-weight: 500;
  }

  & nav ul li:hover {
    background-color: var(--red);
    color: var(--gray-200) !important;
    cursor: pointer;
  }
}

.bg-red {
  color: var(--red) !important;
  font-weight: bold;
}

.a-expanded {
  width: 60%;
}

.perfil {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;

  & > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid var(--gray-200);
    box-shadow: 0px 0px 0px 5px var(--gray-600);
    margin-bottom: 30px;
  }

  & h2 {
    font: var(--title-md);
    color: var(--red);
  }

  & h1 {
    font: var(--title-lg);
    color: var(--gray-600);
  }

  & p {
    font: var(--text-sm);
    color: var(--gray-600);
    margin-top: 1.5rem;
  }

  & .tags ul li {
    display: inline-block;
    margin: 30px 5px;

    & img {
      height: 2rem;
      width: 2.5rem;
    }

    & img:hover {
      opacity: 0.4;
    }
  }
}

.p-expanded {
  width: 90%;
}

#btn {
  width: 2rem;
  height: 2rem;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  margin-right: 5rem;
  animation: move 2s infinite ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.content-info {
  width: 80%;

  & h3 {
    font: var(--title-md);
  }

  & p {
    font: var(--text-sm);
    margin-top: 2rem;
  }
}

.silver {
  color: var(--gray-400);
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.social ul li {
  display: flex;
  margin-top: 1rem;
  font: var(--text-sm);

  & a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: var(--gray-500);
  font: var(--title-sm);
  font-weight: bold;
}

@keyframes move {
  0% {
    margin-right: 5rem;
  }
  50% {
    margin-right: 3rem;
  }
}

@media (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .perfil {
    width: 100%;
    padding: 2rem;

    & .tags ul li {
      margin: 30px 4px;

      & img {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .about {
    width: 100%;
  }

  #btn {
    display: none;
  }
}
