.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header {
  width: 100%;
  height: 100%;
  background-color: var(--gray-200);
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.7);
  transition: width 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.h-reduced {
  width: 40%;
}

.about {
  width: 0%;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.nav-wrapper {
  margin-top: 3rem;
  background-color: var(--gray-200);
  width: fit-content;
  border-radius: 10px;
  font: var(--text-sm);

  & nav ul li {
    width: fit-content;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    color: var(--gray-600);
    font-weight: 500;
  }

  & nav ul li:hover {
    background-color: var(--red);
    color: var(--gray-200) !important;
    cursor: pointer;
  }
}

.bg-red {
  color: var(--red) !important;
  font-weight: bold;
}

.a-expanded {
  width: 60%;
}

.perfil {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;

  & > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid var(--gray-200);
    box-shadow: 0px 0px 0px 5px var(--gray-600);
    margin-bottom: 30px;
  }

  & h2 {
    font: var(--title-md);
    color: var(--red);
  }

  & h1 {
    font: var(--title-lg);
    color: var(--gray-600);
  }

  & p {
    font: var(--text-sm);
    color: var(--gray-600);
    margin-top: 1.5rem;
  }

  & .tags {
    margin-top: 50px;
  }

  & .tags ul li {
    display: inline-block;
    margin: 0px 2px;

    & img {
      height: 2rem;
      width: 2.5rem;
    }

    & img:hover {
      opacity: 0.4;
    }
  }
}

.p-expanded {
  width: 95%;
}

#btn-open {
  width: 2rem;
  height: 2rem;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  margin-right: 5rem;
  animation: move 2s infinite ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.content-info {
  width: 80%;

  & h3 {
    font: var(--title-md);
  }

  & p {
    font: var(--text-sm);
    margin-top: 2rem;
  }
}

.silver {
  color: var(--gray-400);
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.social ul li {
  display: flex;
  margin-top: 1rem;
  font: var(--text-sm);

  & a {
    display: flex;
    align-items: center;
    gap: 1rem;

    & div {
      width: fit-content;
      position: relative;

      &:hover::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    & div::after {
      content: "";
      width: 100%;
      height: 1.5px;
      background-color: var(--red);

      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 200ms linear;
    }
  }
}

.exp {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px;
  border-radius: 10px;
  margin-top: 1.5rem;
  font: var(--text-sm);
  color: var(--gray-200);

  &:hover {
    background-color: var(--gray-500);
    cursor: pointer;
  }

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
  }

  span {
    color: var(--gray-400);
    font: var(--subtitle);
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: var(--gray-500);
  font: var(--title-sm);
  font-weight: bold;
}

.btn-download-cv {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--subtitle);
  color: var(--gray-400);

  & img {
    width: 3rem;
    height: 3rem;
    animation: shake 3s ease-in-out 3s;
  }
}

.hidden,
.menu-icon,
.mobile-menu {
  display: none;
}

.showWeb {
  width: 100vw;
  padding: 2rem 1rem;

  & h3 {
    font: var(--title-md);
  }

  & p {
    font: var(--text-sm);
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .header {
    box-shadow: none;
  }

  .about {
    width: 100%;
    height: 0%;
  }

  .perfil {
    width: 100%;
    padding: 1.5rem;

    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 2em;
    }

    & h2 {
      font-size: 2em;
    }

    & .tags ul {
      margin-top: -30px;
    }

    & .tags ul li {
      margin: 15px;

      & img {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  #btn-open {
    display: none;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    color: #fff;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--gray-100);
    opacity: 0.9;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;

    & ul {
      list-style-type: none;

      & li {
        margin: 20px 0;
        font: var(--title-md);
        text-align: center;
        border: 1px solid var(--gray-400);
        padding: 10px 0;
        color: white;

        &:hover {
          background-color: var(--red);
        }
      }
    }
  }

  /* mobile-menu visível */
  .open-menu {
    right: 0;
  }
}

@keyframes move {
  0% {
    margin-right: 5rem;
  }
  50% {
    margin-right: 3rem;
  }
}

@keyframes shake {
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(-180deg);
  }
}
